<i>
 :( well, something didn't go as planned...
</i>
<br><br>
<b>
Error: {{ .error }}
</b>
<br><br>
<hr>

<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);" src="https://i.giphy.com/media/dVyRSjLEgjF2Bvf97E/giphy.webp">
