{{template "header.tmpl" .}}
<section class="section">
  <div class="container">
    <h1 class="title">
      Proto Vending Maxine
    </h1>
    <p class="subtitle">
      POC of self-sevice VendingMaxine!
    </p>

    <ul>
      <li>
        <a href="/login">(TODO) Login via Azure SSO</a>
      </li></br>
      <li>
        <a href="/collections">Show existing collections</a>
      </li></br>
      <li>
        <a href="/logout">(TODO) Logout</a>
      </li></br>
      </hr>
      <li>
        <a href="/engines/reassemble">Reassemble collections re-running engines</a>
      </li></br>
    
    </ul>
    
    <p>{{.content}}</p>
  </div>
</section>
{{template "footer.tmpl"}}
