
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> Proto Vending Machine</title>
    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
  </head>
  <body>
    <h1>Proto Vending Machine</h1>

    <div id='editor_holder'></div>
    <button id='submit'>Submit (console.log)</button>

    <script>
      // Initialize the editor with a JSON schema
      var the_start_val = {
            "unit-services": [
            {
                "name": "alpha",
                "sshkeys": [],
                "mongo-dbs": [
                {
                    "name": "red"
                }
                ]
            }
            ]
        }
      var the_json_schema = {
        "$schema": "https://json-schema.org/draft/2019-09/schema",
            "title": "Select your products",
            "type": "object",
            "default": {},
            "required": [
            "unit-services"
            ],
            "properties": {
            "unit-services": {
                "title": "UnitServices",
                "type": "array",
                "maxItems": 1,
                "default": [],
                "items": {
                "title": "UnitService",
                "headerTemplate": "{{` {{ self.name }} `}}",
                "type": "object",
                "default": {},
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                    "type": "string",
                    "default": "",
                    "title": "The unit-service name",
                    "examples": [
                        "my-uservice"
                    ]
                    },
                    "sshkeys": {
                    "title": "sshkeys",
                    "type": "array",
                    "default": [],
                    "items": {
                        "title": "sshkey",
                        "headerTemplate": "{{` {{ self.name }} `}}",
                        "type": "object",
                        "required": [
                        "name"
                        ],
                        "properties": {
                        "name": {
                            "title": "Name",
                            "type": "string",
                            "default": "",
                            "pattern": "^.*$"
                        }
                        }
                    }
                    },
                    "mongo-dbs": {
                    "title": "Mongo-dbs",
                    "type": "array",
                    "default": [],
                    "items": {
                        "title": "Mongodb",
                        "headerTemplate": "{{` {{ self.name }} `}}",
                        "type": "object",
                        "required": [
                        "name"
                        ],
                        "properties": {
                        "name": {
                            "title": "Name",
                            "type": "string",
                            "default": "",
                            "pattern": "^.*$"
                        }
                        }
                    }
                    }
                }
                }
            },
            "info": {
                "type": "info",
                "title": "Warning",
                "description": "Work in progress. Dont use at your own risk :)"
            }
        }
      }
      var the_options = {
        "title": "JSON-Editor Example",
        "schema": the_json_schema,
        "startval": the_start_val,
        "config": {
            "theme": "bootstrap3",
            "iconlib": "bootstrap3",
            "object_layout": "normal",
            "template": "default",
            "show_errors": "interaction",
            "required_by_default": 1,
            "no_additional_properties": 1,
            "display_required_only": 0,
            "remove_empty_properties": 0,
            "keep_oneof_values": 1,
            "ajax": 1,
            "ajaxCredentials": 0,
            "show_opt_in": 0,
            "disable_edit_json": 0,
            "disable_collapse": 0,
            "disable_properties": 0,
            "disable_array_add": 0,
            "disable_array_reorder": 0,
            "disable_array_delete": 0,
            "enable_array_copy": 0,
            "array_controls_top": 0,
            "disable_array_delete_all_rows": 0,
            "disable_array_delete_last_row": 0,
            "prompt_before_delete": 1,
            "lib_aceeditor": 0,
            "lib_autocomplete": 0,
            "lib_sceditor": 0,
            "lib_simplemde": 0,
            "lib_select2": 0,
            "lib_selectize": 0,
            "lib_choices": 0,
            "lib_flatpickr": 0,
            "lib_signaturepad": 0,
            "lib_mathjs": 0,
            "lib_cleavejs": 0,
            "lib_jodit": 0,
            "lib_jquery": 0,
            "lib_dompurify": 0
        },
        "code": "// The following lines are mandatory and readonly. You can add custom code above and below.\nif (jseditor instanceof window.JSONEditor) jseditor.destroy();\njseditor = new window.JSONEditor(document.querySelector(\"#json-editor-form\"), jedata);\n//JSONEditor.defaults.editors.object.options.disable_edit_json = true;\n//JSONEditor.defaults.editors.object.options.disable_properties = true;\n//JSONEditor.defaults.editors.object.options.disable_array_delete_all_rows = true;\n//JSONEditor.defaults.editors.object.options.array_controls_top = true;",
        "style": "",
        "desc": "Add optional description here. (HTML format)"
        }
      var editor = new JSONEditor(document.getElementById('editor_holder'),the_options);

      // Hook up the submit button to log to the console
      document.getElementById('submit').addEventListener('click',function() {
        // Get the value from the editor
        console.log(editor.getValue());
      });
    </script>
  </body>
</html>
